:root {
    --azul: #4682B4; /*SteelBlue*/
    --azul-claro: #B0C4DE; /*LighSteelBlue*/
    --azul-sky: #00BFFF; /*DeepSkyBlue*/
    --azul-branco-cyan: #E0FFFF; /*LightCyan*/
    --azul-escuro: #008B8B; /*DarkCyan*/
    --branco-creme: #FFFFF0; /*Ivory*/
    --preto: #000000; /*Black*/
    --cinza-azulado: #778899; /*LightSlateGray*/
    --fonte-título: 24px;
    --fonte-sub-título: 16px;
    --fonte-padrão: 12px;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-size: var(--fonte-padrão);
    background-color: var(--branco-creme);
    color: var(--preto);
}